{% extends 'core/base.html' %}
{% load static %}

{% block custom_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/vendor/mdi-font/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/vendor/select2/select2.min.css' %}">
    <style>
        .select2-container {
            width: 100% !important;
        }
        .statistic__item {
            background: transparent;
            border: 0px;
        }
    </style>
{% endblock %}

{% block title %}Ahara Dashboard{% endblock %}

{% block content %}
    <div class="row m-t-25">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="{% url 'core:recipe_list' %}">
                <div class="overview-item overview-item--c1">
                    <div class="overview__inner statistic__item ">
                        <h2 class="number text-white">{{ total_recipes }}</h2>
                        <span class="desc text-white">recipes submitted</span>
                        <div class="icon">
                            <i class="zmdi zmdi-receipt"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="{% url 'core:recipe_list' %}">
                <div class="overview-item overview-item--c2">
                    <div class="overview__inner statistic__item">
                        <h2 class="number text-white">{{ approved_recipes }}</h2>
                        <span class="desc text-white">recipes approved</span>
                        <div class="icon">
                            <i class="zmdi zmdi-receipt"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% if request.user.is_superuser %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <a href="{% url 'core:user_list' %}?chef=1">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner statistic__item">
                            <h2 class="number text-white">{{ total_chef }}</h2>
                            <span class="desc text-white">total chef</span>
                            <div class="icon">
                                <i class="zmdi zmdi-receipt"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <a href="{% url 'core:user_list' %}">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner statistic__item">
                            <h2 class="number text-white">{{ total_users }}</h2>
                            <span class="desc text-white">total users</span>
                            <div class="icon">
                                <i class="zmdi zmdi-receipt"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block custom_script %}
    <script src="{% static 'core/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'core/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/render_chart.js' %}"></script>
{% endblock %}