{% load static customize %}

<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        {% comment %}<div class="sidebar-item sidebar-brand">
            <a href="{% url 'core:dashboard' %}" style="text-align: center">
                <img src="{% static 'core/img/logo.png' %}" style="height: 46px;">
            </a>
        </div>{% endcomment %}

        <div class="sidebar-item sidebar-header d-flex flex-nowrap">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="{{ request.user.user_pic_url }}" alt="User Picture">
            </div>
            <div class="user-info">
                <span class="user-name">{{ request.user.fullname }}</span>
                <span class="user-role">
                    {% if request.user.is_superuser %}
                        Super Admin
                    {% elif request.user.is_chef %}
                        Chef
                    {% endif %}
                </span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>

        <div class="sidebar-item sidebar-menu">
            <ul>
                <li class="header-menu"><span>General</span></li>
                <li class="sidebar-dropdown">
                    <a href="/">
                        <i class="fa fa-tachometer-alt"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>


                {% if request.user.is_superuser %}
                    <li class="sidebar-dropdown">
                        <a href="{% url 'core:user_list' %}">
                            <i class="fa fa-user"></i>
                            <span class="menu-text">User Report</span>
                        </a>
                    </li>
                {% endif %}
                <li class="sidebar-dropdown">
                    <a href="{% url 'core:recipe_list' %}">
{#                        <i class="fa fa-file"></i>#}
                        <i class="fas fa-utensils"></i>
                        <span class="menu-text">Recipes</span>
                    </a>
                </li>
{#                {% if request.user.is_chef %}#}
                    <li class="sidebar-dropdown">
                        <a href="{% url 'core:unboxing_list' %}">
                            <i class="fas fa-video"></i>
                            <span class="menu-text">Unboxing</span>
                        </a>
                    </li>
{#                {% endif %}#}
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">
        {% comment %}<div class="dropdown">
            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
                <a class="dropdown-item" href="/">My profile</a>
                {% if request.user.is_superuser %}
                    <a class="dropdown-item" href="/">Super Admin</a>
                {% endif %}
            </div>
        </div>{% endcomment %}
        <div>
            <a href="{% url 'account:logout' %}"><i class="fa fa-power-off"></i></a>
        </div>
        <div class="pinned-footer">
            <a href="#"><i class="fas fa-ellipsis-h"></i></a>
        </div>
    </div>
</nav>
