{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Ahara {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/vendor/fontawesome5/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/bootstrap-4.5.1/css/bootstrap.css' %}">
    {% block custom_style %}

    {% endblock %}
</head>
<body class="text-center align-items-center">
{% block content %}

{% endblock %}
<script src="{% static 'core/vendor/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap-4.5.1/js/bootstrap.js' %}"></script>
{% block custom_script %}

{% endblock %}
</body>
</html>