{% extends 'account/base.html' %}
{% load static %}
{% block title %}
    Verify Code
{% endblock %}

{% block custom_style %}
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
        
        .form-signin {
            width: 100%;
            max-width: 450px;
            padding: 15px 50px;
            margin: auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        
        .form-signin .form-control:focus {
            z-index: 2;
        }
        
        .form-signin input[type="email"] {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        .form-signin input[type="password"] {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        form .form-group .pre-icon {
            color: #047bf8;
        }
        .form-group {
            position: relative;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post" class="form-signin">
        {% csrf_token %}
        <img src="{% static 'core/img/logo.png' %}" style="width: inherit">
        <div class="form-group"></div>
        {% if err_invalid %}
            <div class="alert alert-danger">
                <strong>{{ err_invalid|escape }}</strong>
            </div>
        {% endif %}
        <div class="form-group">
            <input type="text" name="code" class="form-control" placeholder="Enter verification code">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Verify Code</button>
            <div class="clearfix"></div>
        </div>
    </form>
{% endblock %}